@charset 'utf-8';
html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}
body {
    color: #333333;
}
.title {
    font-size: 18px;
    font-size: 1.8rem;
    span {
        color: #ff0000;
    }
}
.sample {
    display: flex;
}
.sample_01 {
    display: grid;
    &.foo {
        background: #003800;
    }
}
