<%
var pageData = {
    pageTitle: "HOME",
    pageStyle: "home"
}
%>
<!DOCTYPE html>
<html lang="ja">
    <%- include('./_partial/_head', pageData) %>
<body>
    <script src="assets/js/common.js"></script>
    <article class="wrapper">
        <header class="content-header">
            <h1 class="myname">Kosuke Homma</h1>
            <span><img src="assets/images/prof.jpg"></span>
            <nav class="content-nav">
                <ul class="content-menu" id="menu">
                    <li><a href="#about" class="select" onclick="addClass();">ABOUT</a></li>
                    <li><a href="#career" class="select" onclick="addClass();">CAREER</a></li>
                    <li><a href="#skills" class="select" onclick="addClass();">SKILLS</a></li>
                    <li><a href="#interests" class="select" onclick="addClass();">INTEREST</a></li>
                </ul>
            </nav>
        </header>
        <main class="content-main">
            <section id="about" class="content-section">
                <div class="greeting-box">
                    <h2 class="about-me">KOSUKE <span>HOMMA</span></h2>
                    <p>元々は人材系の会社で人員手配・管理の仕事などをしていましたが、リーマンショック等の影響でweb制作の道へ、、</p>
                    <p>その後web制作会社やSESなんかで、マークアップ・フロントエンドエンジニアとして経験を積んできました。</p>
                    <p>css(Sass)が一番得意というか好きで、ガマン強いほう。臨機応変にひたむきにコーディングできる</p>
                    <div class="sns-contact">
                        <ul class="sns-icons">
                            <li><img src="assets/images/facebook.svg" alt="facebook"></li>
                            <li><img src="assets/images/linkedin.svg" alt="linkedin"></li>
                            <li><img src="assets/images/github.svg" alt="github"></li>
                            <li><img src="assets/images/pinterest.svg" alt="pinterest"></li>
                        </ul>    
                    </div>
                </div>
            </section>
            <section id="career" class="content-section">
                <div class="career-box">
                    <h2 class="career-title"><span>CAREER</span></h2>
                    <article class="career-detail">
                        <div class="career-section">
                            <h3 class="career-category">Markup / FrontEnd Engineer<span>Fintech スタートアップ企業（SESにてジョイン）</span></h3>
                            <p>資産運用を自動で行うアプリを提供する企業のwebサイトの更新・新規ページの追加などの運用、サイト全体のリニューアル対応。ほか、LP制作、メルマガコーディング、ABテストコーディングなども行う。</p>
                            <p>ユーザーからの預り資産額が900億円にまでに至る成長に貢献する。</p>
                        </div>
                        <div class="career-date">
                            <span>July 2017 - Present</span>
                        </div>
                    </article>
                    <article class="career-detail">
                        <div class="career-section">
                            <h3 class="career-category">Markup Engineer<span>中小企業向けweb制作会社</span></h3>
                            <p>日本全国の中小企業、飲食店などのwebサイトを提供する企業の制作部隊のマークアップエンジニア</p>
                            <p>コーポレートサイト・ECサイトの新規コーディング、修正・更新、リプレイスなど。<br>
                            月に平均15件以上（新規制作のみ）のコーディングをこなし、部署全体でトップクラスの生産性をあげる。</p>
                        </div>
                        <div class="career-date">
                            <span>June 2014 - February 2017</span>
                        </div>
                    </article>
                    <article class="career-detail">
                        <div class="career-section">
                            <h3 class="career-category">Web Designer / Coder<span>SES事業にて各企業へ</span></h3>
                            <p>WEBデザイナー/コーダーとして入社し、自社グループ企業の全面的なリニューアルから始まり、
                            web制作会社、金融システム、ソーシャルゲームなど、様々な企業にジョイン。</p>
                        </div>
                        <div class="career-date">
                            <span>March 2011 - April 2014</span>
                        </div>
                    </article>
                    <article class="career-detail">
                        <div class="career-section">
                            <h3 class="career-category">Web Designer / Coder<span>人材派遣会社のサイトのリニューアル＆求人用サイト立ち上げ</span></h3>
                            <p>4年間、営業管理部として従事していたが、部署移動により、サイトのリニューアルの業務に携わる。</p>
                            <p>求人用サイトの制作にも携わり、紙媒体がメインだった求人募集を自社のwebでも補えるようにする。</p>
                        </div>
                        <div class="career-date">
                            <span>June 2014/6 - February 2017/2</span>
                        </div>
                    </article>
                </div>
            </section>
            <section id="skills" class="content-section">
                <div class="skills-box">
                    <h2 class="whats-skills"><span>SKILLS</span></h2>
                    <h3 class="skills-lead">Programming Languages & tools</h3>
                    <p class="skills-lead-sub">実務経験がある言語とツール</p>
                    <div class="skills-area">
                        <ul class="skills-icons">
                            <li><img src="assets/images/html5.svg" alt="html5" title="html5"></li>
                            <li><img src="assets/images/css3.svg" alt="css3" title="css3"></li>
                            <li><img src="assets/images/javascript.svg" alt="javascript" title="javascript"></li>
                            <li><img src="assets/images/jquery.svg" alt="jquery" title="jquery"></li>
                            <li><img src="assets/images/node-dot-js.svg" alt="nodejs" title="nodejs"></li>
                            <li><img src="assets/images/npm.svg" alt="npm" title="npm"></li>
                            <li><img src="assets/images/sass.svg" alt="sass" title="sass"></li>
                            <li><img src="assets/images/gulp.svg" alt="gulp" title="gulp"></li>
                            <li><img src="assets/images/wordpress.svg" alt="wordpress" title="wordpress"></li>
                            <li><img src="assets/images/laravel.svg" alt="laravel" title="laravel"></li>
                            <li><img src="assets/images/vagrant.svg" alt="vagrant" title="vagrant"></li> 
                            <li><img src="assets/images/bitbucket.svg" alt="bitbucket" title="bitbucket"></li>
                            <li><img src="assets/images/jira.svg" alt="jira" title="jira"></li>
                            <li><img src="assets/images/git.svg" alt="git" title="git"></li>
                            <li><img src="assets/images/slack.svg" alt="slack" title="slack"></li>
                            <li><img src="assets/images/visualstudiocode.svg" alt="VScode" title="VScode"></li>
                            <li><img src="assets/images/atom.svg" alt="atom" title="atom"></li>
                            <li><img src="assets/images/sublimetext.svg" alt="sublimetext" title="sublimetext"></li>
                        </ul>    
                    </div>
                    <p class="skills-lead-sub">独学などでちょっと触った事のある言語とツール</p>
                    <div class="skills-area">
                        <ul class="skills-icons">
                            <li><img src="assets/images/webpack.svg" alt="webpack" title="webpack"></li>
                            <li><img src="assets/images/vue-dot-js.svg" alt="vue.js" title="vue.js"></li>
                            <li><img src="assets/images/laravel.svg" alt="laravel" title="laravel"></li>
                            <li><img src="assets/images/wordpress.svg" alt="wordpress" title="wordpress"></li>
                            <li><img src="assets/images/rails.svg" alt="rails" title="ruby on rails"></li> 

                        </ul>    
                    </div>
                    
                    <div class="specialty">
                        <h3 class="skills-lead">Specialty</h3>
                        <p>css(Sass)が一番得意で、忍耐強く、ひたむきにコーディングできる</p>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <p class="copyright">&copy; kosuke homma</p>

        </footer>
    </article>


</body>
</html>