<%
var pageData = {
    pageTitle: "HOME",
    pageStyle: "home"
}
%>
<!DOCTYPE html>
<html lang="ja">
    <%- include('./_partial/_head', pageData) %>
<body>
    aaavvvnl;dsafhjhssfsd
    <header>
        Here is a header
    </header>
    <img src="assets/images/pnt_log_g2.gif">
    <footer>
        here is a footer
    </footer>
</body>
</html>