<%
var pageData = {
    pageTitle: "HOME",
    pageStyle: "home"
}
%>
<!DOCTYPE html>
<html lang="ja">
    <%- include('./_partial/head', pageData) %>
<body>
    aaavvvnl;dsafhjhs
    <header>
        Here is a header
    </header>
    <img src="assets/images/pnt_log_g2.gif">
</body>
</html>